certifi==2017.7.27.1
click==6.7
cycler==0.10.0
Flask==0.12.2
Flask-Cors==3.0.3
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
matplotlib==2.1.0
nltk==3.2.4
numpy==1.13.3
pandas==0.21.0
PasteDeploy==1.5.2
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
Werkzeug==0.12.2
